html, body, label, input, a, span, strong, em, img, hr, p, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, button, select, textarea { margin: 0; padding: 0; border: 0; outline: 0 }
html { width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow: auto }
body { background-color: #f9f9f9; color: #000; font-family: "Microsoft YaHei", Arial, sans-serif }
a { color: #000; cursor: pointer; text-decoration: none }
a:active { outline: 0 none }
img { -ms-interpolation-mode: bicubic }
i, cite, em, var, address, dfn { font-style: normal }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100% }
li { list-style: none }
button, input, select, textarea { font-size: 100%; vertical-align: middle; color: inherit }
.btn { font-size: 36px; display: inline-block; background-color: #3894f1; padding: 0 170px; height: 69px; line-height: 69px; color: #fff; border-radius: 4px }
.btn_want { display: inline-block; height: 60px; line-height: 60px; padding: 0 22px; border: 2px solid #bebebe; border-radius: 32px; font-size: 26px; font-weight: 700; color: #505050 }
.btn_free { height: 45px; line-height: 45px; padding: 0 26px; background-color: #ff6e3b; font-size: 24px; vertical-align: middle; margin-left: 20px }
.tac { text-align: center }
.text-orange { color: #ff7a29 }
.input { display: inline-block; border: 2px solid #cacaca; height: 42px; line-height: 42px; background-color: #fff; padding: 2px 8px; vertical-align: middle; border-radius: 4px; font-size: 24px }
.textarea { resize: none; padding: 12px; border: 2px solid #cacaca; border-radius: 4px; overflow: auto }
.sel { width: 194px; display: inline-block; *display: inline; zoom: 1; height: 50px; line-height: 50px; margin-right: 15px; *height: auto; *line-height: normal; border: 2px solid #cacaca; border-radius: 4px; font-size: 24px; padding-left: 5px; color: #999;  background: #fff\9; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none }
.search_pc .wrap { width: 1200px; margin: 0 auto }
.search_pc .header { height: 92px; background-color: #e7e7e7; border-bottom: 1px solid #333 }
.search_pc .header .wrap { padding-top: 35px }
.search_pc .header .logo { float: left; display: inline; width: 190px; height: 49px; text-indent: -9999px }
.search_pc .header .tel { float: right; display: inline;  padding-left: 36px; font-size: 40px; line-height: 48px }
.search_pc .tel .service { font-weight: 400; font-size: 28px; vertical-align: middle }
.search_pc .tel .num { vertical-align: middle }
.search_pc .main { background-color: #fff; padding-top: 145px; padding-bottom: 130px }
.search_pc .main .whatdo { text-align: center; font-size: 56px; padding-bottom: 40px }
.search_pc .main .dolist { width: 600px; margin: 0 auto }
.search_pc .dolist .con { padding-bottom: 22px }
.search_pc .dolist em { font-size: 16px; color: #d21111; padding-right: 10px }
.search_pc .dolist .con span { font-size: 24px }
.search_pc .dolist .textarea { background-color: #fff; width: 546px; height: 98px; margin-top: 15px; font-size: 24px }
.search_pc:-moz-placeholder { color: #999 }
.search_pc::-moz-placeholder { color: #999 }
.search_pc input:-ms-input-placeholder, .search_pc textarea:-ms-input-placeholder { color: #999 }
.search_pc input::-webkit-input-placeholder, .search_pc textarea::-webkit-input-placeholder { color: #999 }
.search_pc .dolist .con .offset { position: relative; top: 6px }
.search_pc .dolist .con .text { width: 146px; display: inline-block; line-height: 42px; vertical-align: middle }
.search_pc .dolist .con .input { width: 387px; vertical-align: middle }
.search_pc .footer { background-color: #585858; height: 74px; line-height: 74px; text-align: center }
.search_pc .footer a { margin: 0 4%; color: #fff; font-size: 22px; display: inline-block }
.index_top { min-width: 1200px; background-color: #fff }
.index_top .index_box { width: 100%; padding-top: 14px; height: 54px; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 4 }
.index_top .index_top_logo { float: left; display: inline; width: 190px; height: 49px;  }
.index_top .tel { float: right; display: inline }
.index_top .tel .service { font-size: 16px; color: #5c5c5c }
.index_top .tel .num { font-size: 30px; color: #4a95f0 }
.index_top .index_banner { clear: both; height: 707px; background-color: #000813; margin-top: 68px; *padding-top: 68px; _margin-top: 0; _padding-top: 0 }
.index_top .index_banner .banner_box { height: 707px; position: relative }
.index_top .index_banner .banner_wrap { width: 1340px; margin: 0 auto; overflow: hidden; zoom: 1 }
.index_top .index_banner .img_box { float: left; display: inline; width: 1340px; height: 100% }
.index_top .index_banner .slider_btn { position: absolute; bottom: 30px; left: 50%; margin-left: -61px }
.index_top .index_banner .slider_btn span { width: 10px; height: 10px; background-color: transparent; background-color: #000813\9; border-radius: 50%; border: 1px solid #fff; display: inline-block; vertical-align: middle; cursor: pointer; margin-right: 15px }
.index_top .index_banner .slider_btn span.current_img { width: 14px; height: 14px; background-color: #fff }
.index .index_main { background-color: #f8f8f8; padding-top: 90px }
.index .section_init { padding-bottom: 70px }
.index .section_init .desc { margin: 0 29px; color: #585858; font-size: 21px; line-height: 40px; padding-top: 30px }
.index .section_init h2 { height: 57px;  }
.index .section_init .step { padding-top: 50px }
.index .section_init li { float: left; display: inline; width: 202px; text-align: center }
.index .section_init .step i { width: 145px; height: 145px; display: inline-block;  }
.index .section_init i.search { background-position: 0 0 }
.index .section_init i.see { background-position: 0 -146px }
.index .section_init i.click { background-position: 0 -292px }
.index .section_init i.contact { background-position: 0 -438px }
.index .section_init i.deal { background-position: 0 -584px }
.index .section_init li.step_arrow { width: 46px }
.index .section_init .step_arrow i { width: 38px; height: 27px; background-position: -5px -739px; margin-top: 75px }
.index .section_init .step_arrow_last i { width: 38px; height: 27px; background-position: -63px -739px; margin-top: 75px }
.index .section_init .step strong { color: #656565; font-size: 22px; display: block; margin: 22px 0; font-weight: 400 }
.index .section_one h2 { height: 74px; }
.index .section_one .do_sth { padding-top: 50px }
.index .section_one .do_sth li { float: left; display: inline; width: 355px; margin: 0 21px }
.index .section_one .do_sth .outline { margin-top: 45px; padding-left: 18px; color: #6d6d6d; line-height: 36px; font-size: 21px }
.index .section_two { padding: 100px 0 }
.index .section_two h2 { height: 139px; }
.index .section_two .comparison { margin-top: 60px; height: 438px; }
.index .section_two .end_title { margin-top: 90px; height: 48px; }
.index .register { padding: 22px 0; position: relative; width: 100%; *z-index: 3 }
.index .register .regi_mask { background-color: #061426; width: 100%; height: 100%; opacity: 0.7; filter: alpha(opacity=70); position: absolute; left: 0; top: 0; z-index: 1 }
.index .register .wrap { position: relative; z-index: 3 }
.index .register .regi_arrow { position: absolute; top: -42px; left: 50%; width: 98px; height: 20px;  margin-left: -49px; cursor: pointer; }
.index .register .regi_arrow.open { background-position: 1px -21px; }
.index .register .regi_title { text-align: center; }
.index .regi_title .btn_regi { background-color: #7dba53; height: 52px; line-height: 52px; padding: 0 140px; font-size: 26px; color: #fff; }
.index .regi_title .btn_regi:hover { background-color: #6ab13b; }
.index .regi_form .btn_regi { height: 52px; line-height: 52px; padding: 0 140px; font-size: 26px; background-color: #ff9833; }
.index .regi_form .btn_regi:hover { background-color: #ff9024; }
.index .op_title .btn_regi { padding: 0; background-color: transparent; cursor: default; margin-bottom: 30px; }
.index .op_title .btn_regi:hover { background: none; }
.index .register .regi_form li { float: left; display: inline; width: 49.99%; margin-bottom: 28px }
.index .register .regi_form label { display: inline-block; vertical-align: middle; width: 120px; text-align: right; font-size: 16px; color: #fff; padding-right: 18px }
.index .register .regi_form .input, .index .register .regi_form .sel { font-size: 15px; border: 1px solid #d4d4d4; height: 36px; line-height: 36px; width: 380px; background-color: #fff }
.index .register .regi_form .sel {  background: #fff\9; margin-right: 14px; width: 190px }
.index .index_footer { background-color: #f8f8f8; height: 53px; line-height: 60px; font-size: 12px; text-align: center }
.index .index_footer p { margin-bottom: 5px }
.index .index_footer em { margin: 0 2px; color: #ccc }
.index .index_footer a { color: #292929 }
/* 页面底部增加在线注册内容 0426 */
.index .section_two .ol_regi_tit {
    margin-top: 95px;
    margin-bottom: 50px;

    height: 50px;
}
.index .section_two .ol_regi label {
    color: #656565;
}
.index .section_two .ol_regi .now_regi {
    margin-top: 50px;
}
.hide { display: none !important }
.clearfix { zoom: 1 }
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
